@charset "UTF-8";

.serv{
    margin: 20px;
    margin-right: -5px;
    margin-left: 130px;
    margin-top: 50px;
    max-width: 450px;
}

article h3{
    font-family: var(--fontedif);
    font-size: 2em;
    font-weight: 100;
    text-align: center;
}

#bene{
    display: inline-block;
    background-color: var(--cor04);
    width: 250px;
    margin: 3px;
    margin-left: 50px;
    padding: 20px;
    border-radius: 5px;
    border-right-color: violet;
}

#bene:hover{
    background-color: var(--cor01);
    color: rgb(229, 229, 229);
    transition-duration: .3s;
}

#rede{
    display: inline-block;
    background-color: var(--cor04);
    margin: 3px;
    margin-left: 85px;
    padding: 20px;
    border-radius: 30px;
    border-color: violet;
}

#rede a{
    text-decoration: none;
    color: #000000;
}

#rede a:hover{
    color:white;
    transition-duration: .3s;
}

#rede:hover{
    background-color: var(--cor01);
    transition-duration: .3s;
}



img{
    width: 300px;
    min-height: 300px;
    margin: auto;
    display: block;
}


main > p > a{
    text-decoration: none;
    color: var(--cor03);
}

main > p > a:hover{
    color: var(--cor01);
    text-decoration: underline;
}
main > a:active{
    color: var(--cor01);
    text-decoration: underline;
}

section.atributos{

}

h2.atributos{ 
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2.3em;
    font-weight: 200;
    text-align: center;
}

div.atributos-geral{
    display: block;
    margin: auto;
    width: 98vw;
}

div.atributos{
    min-height: 250px;
    max-height: 500px;
    min-width: 250px;
    max-width: 400px;

    background-color: white;
    border-radius: 7px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.369);
    display: block;
    padding: 20px;
    margin: auto;
    margin-bottom: 10px;
}

div.atributos:hover{
    background-color: var(--cor01);
    color: white;
    transition-duration: .5s;
}

i.material-icons{
    display: block;
    padding: 10px;
    font-size: 3em;
    text-align: center;
}

span.material-symbols-outlined{
    display: block;
    padding: 10px;
    font-size: 3em;
    text-align: center;
}

p > strong.atributos{
    text-align: center;
    font-family: var(--fontedif);
    margin-top: 5em;
    font-size: 1.2em;
}

p.atributos{
    text-align: center;
    margin-top: 2.5em;
}

iframe{
    margin: auto;
    width: 80%;
}

div#titulo-video > h2{
    background-color:#5454546e ;
    font-size: 2.3em;
    font-weight: 200;
    padding: 10px;
    text-align: center;
}

div.video{
    background-color: #5454546e;
    margin: 0px -8px 35px -20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

h2.mapa{
    text-align: center;
    font-size: 2.2em;
    font-weight: 300;
    margin: 0px 0px 20px 0px;
}

iframe.mapa{
    display: block;
    margin: auto;
}

h2.artigos{
    text-align: center;
    font-size: 2.2em;
    font-weight: 300; 
    margin: 20px 0px 20px 0px;
}

div.artigos{
    width:360px;
    height: 700px;
    display: block;
    background-color: rgba(227, 227, 227, 0.339);
    border-radius: 7px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.369);
    padding: 10px;
    margin: auto;
}

img.artigos{
    height: 220px;
    width: 380px;
    margin-top: -10px;
    margin-left: -10px;
    display: inline-block;
    border-radius: 7px 7px 0px 0px;
}
h3.artigos{
    text-align: center;
    font-weight: 300;
    font-size: 1.3em;
}
p.artigos{
    text-align: justify;
    padding: 5px;
}

a.artigos{
    text-decoration: none;
    color: var(--cor01);
    font-size: 1.05em;
    padding: 5px;
    text-transform: uppercase;
}
a.artigos:hover{
    color: #f9b1b2;
}

