@charset "utf-8";

:root{
    --cor01:#545454;
    --cor02:#FDD4D5;
    --cor03:#fdd4d5a8;
    --cor04:#54545452;

    --fontepadrão: Arial, Helvetica, sans-serif;
    --fontedif: @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
}

*{
    margin: 0px;
    padding: 0px;
    font-family:Arial, Helvetica, sans-serif ;
}

body{
    font-family: var(--fontepadrão);
    background-color: whitesmoke;
    max-width:100vw;
}

nav{
    background-color: var(--cor01);
    margin-left: -8px;
    margin-right: 0px;
    margin-top: -10px;
    margin-bottom: -5px;
    padding: 15px;
} 

nav > a{
    color: white;
    text-decoration: none;
    padding: 7px;
    margin: 8px;
    font-weight: bold;
}

nav > a:hover{
    color: var(--cor01);
    background-color: white;
    border-radius: 5px;
    transition-duration: .5s;
}

nav > a:active{
    color: var(--cor02);
    background-color: white;
    border-radius: 5px;
}

header{
    background-color: #545454;
    width: 99.5vw;
    height: 60vh;
    margin-left: -8px;
    margin-right: 0px;
    margin-bottom: -24px;
}
img.main{
    width: 300px;
    height: 300px;
    display: block;
    margin: auto;
}

/*footer*/

img.branca{
    width: 300px;
    display: block;
    margin: auto;
}

footer.home{
    background-color: #63766f8a;
    margin: -8px;
    margin-top: 10px;
    margin-bottom: -20px;
    padding: 16px;
    color: #fff;
}

footer a#instagram div{
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 305px;
    background-image: url(../imagens/Instagram_icon.png);
    background-size: contain;
}

footer a#whatsapp div{
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 305px;
    background-image: url(../imagens/whatsapp2.jpg);
    background-size: contain;
}

small{
    text-align: center;
}

footer > div > p{
    display: inline-block;
    width: 80px;
}

footer  a{
    text-decoration: none;
    color: #d141d6;
    font-weight: 800;
    padding: 10px;
    display: inline-flex ;
}

footer  a:hover{
    color: #fff;
}  